.nice-checkbox {
  display: block;
  user-select: none;

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {

      &:before {
        opacity: 1;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;
    }

  }
  label {
    display: block;
    position: relative;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    padding-left: 25px;
    color: #000;
    cursor: pointer;
    @include main-font1();

    > span { display: block }

    &:after,
    &:before {
      position: absolute;
      content: '';
    }

    &:after {
      top: 1px;
      left: 0;
      width: 15px;
      height: 15px;
      border: 2px solid #cccccc;
      border-radius: 4px;
    }

    &:before {
      top: -2px;
      left: 1px;
      border: 2px solid #0a4c84;
      width: 14px;
      height: 14px;
      box-sizing: border-box;
      clip: rect(3px, 14px, 14px, 8px);
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity .2s ease-in-out;
      content: '';
    }

  }

}