.site {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items();
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  @include main-font2();

  &__print,
  &__download {
    position: fixed;
    z-index: 3;
    @include flexbox();
    @include flex-direction();
    @include align-items(center);
    top: 200px;
    left: 0;
    padding: 0 0 0 12px;
    width: 35px;
    height: 34px;
    border-radius: 0 4px 4px 0;
    background: #024b86;
    white-space: nowrap;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    @include main-font1();
    transition: background 0.3s ease-in-out, width 0.3s ease-in-out;

    &:hover {
      background-color: #1762a0;
    }

    &:active {
      background-color: #004074;
    }

    span {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      width: 126px;

      span {
        opacity: 1;
      }

    }

  }
  &__print {
    background: url("../img/print.png") no-repeat calc(100% - 10px) center #024b86;
    background-size: 17px 16px;
  }
  &__download {
    top: 245px;
    background: url("../img/download.png") no-repeat calc(100% - 12px) center #024b86;
    background-size: 13px 16px;
  }
  &__header {
    position: relative;
    text-align: center;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      background: #0a4c84;
      content: '';
    }

    &-layout {
      position: relative;
      z-index: 1;
      max-width: 1008px;
      padding: 0 14px;
      margin: 0 auto;
      height: 113px;
    }
    &-cooperation {
      display: none;
    }

    &-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 20px;
      width: 100%;
      padding: 0 14px;

      a,
      a:visited {
        font-size: 13px;
        color: #1762a0;
        text-decoration: underline;

        &:hover { text-decoration: none }

        &.btn,
        a.btn {
          min-width: 98px;
          margin-bottom: 4px;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    span {
      color: rgba(10,76,132, .5);
    }
  }
  &__footer {
    @include flexbox();
    @include flex-direction();
    @include justify-content();
    @include align-items(center);
    position: relative;
    width: 100%;
    height: 110px;
    background: #ededed;

    &-layout {
      position: relative;
      max-width: 1008px;
      padding: 0 14px;
      margin: 0 auto;
      width: 100%;
    }
    &-menu {
      font-size: 15px;
      line-height: 17px;

      a {
        display: inline-block;
        margin: 0 10px 10px 0;
        color: #000000;
        transition: color 0.3s ease-in;

        &:hover {
          color: #004c86;
        }

      }

    }
    &_index {
      background: #0a4c84;
      color: #fff;

      .site__footer-menu {

        a {
          color: #fff;

          &:hover {
            color: #96adc0;
          }

        }

      }

    }

  }
  &__content {
    position: relative;
    max-width: 1008px;
    padding: 0 14px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 60px;

    &-wrap {
      @include flexbox();
      @include flex-direction(column-reverse);
      @include justify-content(space-between);
      @include align-items(flex-start);
      @include flex-wrap(wrap);

      >div {
        width: 100%;
      }
      >aside {
        width: 100%;
      }

    }

  }
  &__open-menu {
    position: relative;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: auto;
    width: 200px;
    height: 46px;
    padding: 0 32px 0 36px;
    border: 1px solid #d9d9d9;
    background: #f5f5f5;
    border-radius: 3px;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    @include main-font2();
    transition: color 0.3s ease-in-out;

    &:after {
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: 18px;
      width: 5px;
      height: 5px;
      border-top: 1px solid #999999;
      border-left: 1px solid #999999;
      transform: rotate(-135deg);
      content: '';
      transition: border 0.3s ease-in-out;
    }

    span {
      position: absolute;
      top: 50%;
      left: 18px;
      transform: rotate(90deg);
      margin-top: -7px;
      letter-spacing: 1px;
    }

    &:hover {
      color: #000000;

      &:after {
        border-top-color: #000000;
        border-left-color: #000000;
      }

    }

    &.hidden {
      display: none;
    }

  }
  &__aside {
    overflow: hidden;
    height: 0;
    min-height: 0;
    position: relative;
    transition: all 0.5s ease-in-out;

    >div {
      border: 1px solid #d9d9d9;
      background: #f5f5f5;
      border-radius: 3px;
      margin-bottom: 40px;
    }

    &-hide {
      position: absolute;
      top: 4px;
      z-index: 3;
      right: 9px;
      padding: 10px 23px 10px 10px;
      color: #999999;
      font-size: 13px;
      line-height: 15px;
      transition: color 0.3s ease-in-out;

      &:after {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        right: 9px;
        width: 5px;
        height: 5px;
        border-top: 1px solid #999999;
        border-left: 1px solid #999999;
        transform: rotate(45deg);
        content: '';
        transition: border 0.3s ease-in;
      }

      &:hover {
        color: #000000;

        &:after {
          border-top-color: #000000;
          border-left-color: #000000;
        }

      }

    }

    &.opened {
      height: auto;
      min-height: 1px;
    }

  }

  &__form {

    &.columns {

      .site__form-wrap {
        max-width: 399px;
      }

      .btns {
        padding: 10px 0 0 0;
      }
    }

    &-wrap {
      max-width: 380px;
    }

    &-block {
      margin-bottom: 20px;

      label {
        margin-bottom: 5px;
        font-size: 13px;
        color: #b2b2b2;
      }
    }

    &-row {
      margin-bottom: 10px;
    }

    .btn {
      height: 34px;
      min-width: 118px;
      padding: 0 33px;
    }

    input {
      width: 100%;
      height: 34px;
      margin-bottom: 8px;
      padding: 0 12px;
      border-radius: 4px;
      border: 1px solid #b3b3b3;
      background: #fff;
      font-size: 13px;

      &::-webkit-input-placeholder {
        color: #b2b2b2;
      }
      &::-moz-placeholder {
        color: #b2b2b2;
      }
      &:-ms-input-placeholder {
        color: #b2b2b2;
      }
      &:-moz-placeholder {
        color: #b2b2b2;
      }
    }

    .nice-checkbox {
      margin: 8px 0 22px;
    }

    &-footer {
      margin: 20px 0 0;
      padding: 14px 0 0;
      border-top: 1px solid #d9d9d9;
    }
  }
}
.btns {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0 0;

  a,
  a:visited {
    color: #0a4c84;
    text-decoration: underline;

    &:hover { text-decoration: none }
  }

  .btn { margin-bottom: 20px }

  .nice-checkbox { margin: 0 }
}

@media (min-width: $tablet-portrait) {
  .site {

    &__header {
      text-align: left;

      &-cooperation {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
        @include main-font4();
        @include absoluteCenterY();
        left: 329px;
        margin: -4px 0 0;
        font-size: 13px;
        line-height: 15px;
        color: #b2b2b2;

        div {
          margin-right: 16px;
        }
        span {
          margin: 0 30px 2px 0;
          font-weight: 400;
        }

      }

      &-btns {
        flex-direction: column;
        justify-content: center;
        @include absoluteCenterY();
        left: auto;
        bottom: auto;
        right: 14px;
        width: auto;
        padding: 0;
      }

    }
    &__footer {
      height: 40px;

      &-menu {

        a {
          margin: 0 27px 0 0;
        }

      }

    }
    &__content {

      &-wrap {
        @include flex-direction();
        @include flex-wrap();

        >div {
          width: 57%;
          padding-top: 10px;
          transition: width 0.3s ease-in-out;
        }
        >aside {
          width: 40%;
          margin-left: -100%;

          &.opened {
            margin-left: 0
          }

        }

      }

    }
    &__open-menu {
      position: absolute;
      top: 32px;
      right: 14px;
      margin-bottom: 0;
    }

  }

}

@media (max-width: $tablet-landscape) {
  .site {

    &__header {

      &-cooperation {
        @include flex-wrap(wrap);
        left: 352px;
        right: 130px;

        span {
          width: 100%;
        }
        div {
          width: 30%;

          &:last-of-type {
            width: 13%;
          }

          img {
            width: 100%;
            height: auto;
          }

        }

      }

    }
  }
}
@media (min-width: $desktop) {
  .site {

    &__content {
      padding-bottom: 173px;
    }

    &__form {

      &.columns {

        .btns {
          padding: 10px 0 0 110px;
        }
      }

      &-block {
        margin-bottom: 30px;

        label {
          margin-bottom: 0;
          padding-right: 5px;
        }
      }

      &-row {
        display: grid;
        grid-template-columns: 110px 1fr;
        align-items: center;

        input {
          margin-bottom: 0;
        }
      }
    }
  }
  .btns {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.right { justify-content: flex-end }
    &.center { justify-content: center }

    .btn { margin-bottom: 0 }
  }
}